@import "../../assets/styles/variables";

.products {
  .titlePage {
    text-align: center;
    font-size: 2rem;
    font-family: "Crimson Pro", serif;
    margin-bottom: 2rem;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .btn-primary {
    color: white;
  }

  .btn-secondary {
    color: gray;
  }

  .productsOption {
    .sort {
      width: 250px;
      display: flex;
      align-items: center;

      .text {
        white-space: nowrap;
        margin-right: 1rem;
      }
    }
  }

  .productItems {
    .item {
      margin-bottom: 2rem;
      padding: 1rem;
      .image {
        margin: -1rem;
        margin-bottom: 0;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
      }

      .info {
        margin-top: -2rem;
        background-color: white;
        z-index: 2;
        position: relative;
        padding: 1rem;
        border: 1px solid #cacaca;

        min-height: 188px;
      }
      .title,
      .address,
      .price,
      .desc {
        margin-bottom: 0.5rem;
        text-align: center;
      }

      .address {
        color: rgb(105, 105, 105);
        font-weight: 500;
        font-family: "Crimson Pro", serif;
        font-style: italic;
      }

      .title,
      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .title {
        -webkit-line-clamp: 1;
        font-size: 1.25rem;
      }

      .buttonWrapper {
        margin-top: 0;
        padding-top: 0.5rem;
        display: flex;
        justify-content: center;

        .btnView {
          background-color: transparent;
          border: 1px solid $primary;
          color: $primary;
          padding: 0.5rem 2rem;
        }
      }
    }
  }
}
